.home-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    width: 90%;
    margin: 0 auto 3rem;
    padding: 2.2rem;
    gap: 30px;
}

@media (max-width: 530px) {
    .home-section {
        justify-content: center;
    }
}