.home-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto 3rem;
    padding: 0 2.2rem;
    gap: 40px;
}

@media (max-width: 530px) {
    .home-section {
        padding: 0;
        gap: 30px;
    }
}

@media (max-width: 380px) {
    .home-section {
        padding: 0;
        gap: 20px;
    }
}