@use '../../sass/mixins';

.form {
    @include mixins.flex(column);
    justify-content: center;
    background: #fff;
    width: 50%;
    height: 300px;
    gap: 30px;
    border-radius: 16px;
    position: relative;

    &__global-error {
        font-size: 16px;
        position: absolute;
        top: 10px;
        color: red;
    }

    &__wrapper {
        width: 90%;
        height: 3rem;
        position: relative;

        label {
            font-size: 14px;
            position: absolute;
            top: 50px;
            color: red;
        }
    }

    #email {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        padding: 0 0.4rem;
        border: none;
        border-bottom: 2px solid gray;
    }
    
    #password {
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        border: none;
        padding-left: 0.4rem;
        padding-right: 4rem;
        border-bottom: 2px solid gray;
    }
    
    &__open-eye {
        width: 2.5rem;
        cursor: pointer;
        background: none;
        border: none;
        position: absolute;
        top: 0.7rem;
        right: 0.8rem;
        
        img {
            width: 100%;
        }
    }

    &__invalid {
        border-bottom: 2px solid red !important;
    }
    
    input:focus {
        outline: none !important;
        border-bottom: 2px solid #007bff !important;
    }
    
    &__button {
        margin-top: 25px;
        padding: 12px 50px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        font-size: 1.3rem;
        background: #000;
        color: #fff;
    }
}