@use '../../sass/variables';

.rich-text {
    position: relative;
    width:  80%;
    height: calc(100vh - (variables.$task-bar-height + 3em));
    margin: 0 auto;
    overflow-y: auto;
    border-radius: 1.5em 1.5em 0 0;
    background-color: #fff;
}

.input-title {
    width: calc(100% - 60px);
    margin: 0 30px 20px;
    padding: 30px 0 10px;
    font-size: 24px;
    border: none;
    border-bottom: 1px solid #00000046;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: #00000080;
    }
}

.content-editable {
    width: 100%;
    min-height: calc(100% - 91px);
    padding: 0 30px 100px 30px;
    font-size: 1em;
    background-color: #fff;

    &:focus {
        outline: none;
    }

    &__placeholder {
        position: absolute;
        top: 90px;
        left: 30px;
        color: #00000080;
        user-select: none;
        pointer-events: none;
    }
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}