@use '../../sass/variables';
@use '../../sass/mixins';

.editor-wrapper {
    @include mixins.flex;
    height: 100vh;
    gap: 1em;
    padding: 0.6em;
    
    &__rich-text {
        position: relative;
        width:  100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 24px;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        box-shadow: 0px 3px 7px #bebebe;
    }
    
    &__title-input {
        width: calc(100% - 60px);
        margin: 0 30px 20px;
        padding: 30px 0 10px;
        font-size: 24px;
        border: none;
        border-bottom: 1px solid #00000046;
        font-weight: 600;
    
        &:focus {
            outline: none;
        }
    
        &::placeholder {
            color: #00000080;
        }
    }
    
    &__content-editable {
        width: 100%;
        padding: 0 30px 100px 30px;
        line-height: 1.5;
    
        &:focus {
            outline: none;
        }
    }
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

.code {
    padding: 2px 8px;
    color: #ff0000;
    background: #eeeeee;
    border-radius: 3px;
}