@use '../../sass/mixins';

.text-style {
    @include mixins.flex;
    gap: 8px;
    
    &__button {
        font-size: 20px;
        padding: 5px 7px;
        border-radius: 10px;
        border: none;
        background: none;
        cursor: pointer;

        &_active {
            background: #eaeaea;
        }

        &:hover {
            background: #eaeaea;
        }
    }
}