.button-note-add {
    width: 5rem;
    height: 5rem;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: auto;
    border: 2px solid #a7a7a7;

    &__image {
        width: 2.6rem;
    }
}
