@use '../../sass/mixins';
@use '../../sass/variables';

.task-bar {
    @include mixins.flex;
    gap: 1em;
    position: sticky;
    width: 100%;
    height: variables.$task-bar-height;
    margin-bottom: 1em;
    background: #fff;
    z-index: 10;
}