@use '../../sass/mixins';

.modal {
    &:open {
        @include mixins.flex(column);
        justify-content: center;
        gap: 3rem;
        width: 32em;
        height: 18em;
        margin: auto;
        padding: 1em 1.5em;
        border: none;
        border-radius: 8px;
    }

    &__message {
        font-size: 1.6em;
    }

    &__buttons {
        @include mixins.flex;
        gap: 4em;
    }

    &__execute {
        color: #fff;
        background: green;
        font-size: 1.3em;
        cursor: pointer;
        padding: 0.5em 1em;
        border: none;
        border-radius: 10px;
    }
    
    &__cancel {
        color: #fff;
        background: red;
        font-size: 1.3em;
        cursor: pointer;
        padding: 0.5em 1em;
        border: none;
        border-radius: 10px;
    }
}


@media (max-width: 520px) {
    .modal {
        font-size: 12px;
    }
}