@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    background: #e8e8e874;
}

.tiptap {
  img {
    display: block;
  }
}

.tiptap h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 1rem 0;
  font-weight: 700;
}

.tiptap h1 {
  font-size: 1.8rem;
}

.tiptap h2 {
  font-size: 1.6rem;
}

.tiptap h3 {
  font-size: 1.4rem;
}

.tiptap h4 {
  font-size: 1.2rem;
}