@use '../../sass/mixins';

.note-tab {
    @include mixins.flex;
    justify-content: center;
    gap: 3em;
    width: 90%;
    margin: auto;

    &__button {
        width: 4em;
        height: 4em;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 80%;
        }
    }
}