@use '../../sass/mixins';

.note-tab {
    @include mixins.flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;

    &__button {
        width: 5em;
        height: 5em;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 80%;
        }
    }
}