@use '../../sass/mixins';

.note-tab {
    @include mixins.flex(column);
    justify-content: center;
    gap: 1em;
    height: 100%;
    background: #fff;
    padding: 0 0.5em;

    &__button {
        width: 3em;
        height: 3em;
        background: none;
        border: none;
        cursor: pointer;

        img {
            width: 80%;
        }
    }
}