@use '../../sass/mixins';

.authorization {
    @include mixins.flex(column);
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 2rem;
    
    &__h3 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__link {
        font-size: 1.3em;
        color: rgb(0, 0, 168);
    }
    
}



@media (max-width: 1200px) {
    .authorization {
        width: 700px;
    }

}

@media (max-width: 700px) {
    .authorization {
        width: 95%;
    }
}