.set-color-dialog {
    position: absolute;
    top: 35px;
    border: none;
    border-radius: 14px;
    overflow: hidden;

    background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(14px); // для Safari
        // border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
        // background-color: #fff;
        padding: 0.6em;

        li {
            button {
                width: 25px;
                height: 25px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}